* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: teal;
}


/* .nav {
  display: flex;
  align-items: center;
  justify-content:space-between;
  background-color: whitesmoke;
  height: 100px;
  font-size: 20px;
  font-weight: 10px;
  font-style: bold;
  color: rgb(15, 63, 63);

}   

ul {
  list-style: none;
 margin-right: 10px;
}

li {
 display: inline;
  margin-left: 10px;
}  */ 

.sign {
  color:rgb(23, 54, 54);
}

.signin-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px  rgb(23, 54, 54);
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:whitesmoke;
  height: 580px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgb(23, 54, 54);
}

label {
  margin-right: 10px;
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 10px;
  font-size: large;
  font-weight: 15px;
  font-style: bold;
  color: rgb(23, 54, 54);
}

.form-control {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 20px;
  width: 200px;
  /* background-color: blue; */
  border-radius: 7px;
  font-size: small;
  font-weight: 10px;
  font-style: italic;
  
}

::placeholder {
  border: none;
  color:  rgb(23, 54, 54)
}

.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  rgb(23, 54, 54);
  color: whitesmoke;
  height: 35px;
  width: 280px;
  margin-top: 20px;
  font-size: large;
  font-weight: 10px;
  font-style: bold;
  cursor: pointer;
  border-radius: 5px;
}

.btn-danger {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(23, 54, 54) ;
  color: whitesmoke;
  height: 35px;
  width: 280px;
  margin-top: 20px;
  font-size: large;
  font-weight: 10px;
  font-style: bold;
  cursor: pointer;
  border-radius: 5px;
}

.already {
  display: flex;
  justify-content: center;
  align-items: center;
  color:rgb(23, 54, 54);
  font-size: large;
  font-weight: 10px;
  font-style: bold;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 25px;
} 

input {
  outline: none;
  padding: 5px;

} 