* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.landing {
   height: 100vh; 
   /* background-color: teal;  */
   background-image: url(image/vitali.jpg);
   background-repeat: no-repeat;
  background-size: cover;
}

.mini-landing {
       height:300px;
       width:430px;
       background-color: transparent;
       margin-top: 120px; 
       margin-left: 20px;
       font-size: larger;
       font-weight: 10px;
       font-style: bold;
       color: whitesmoke;
 }


.landing-button {
  margin-top: 30px;
  background-color: rgb(4, 27, 27);
  color: whitesmoke;
  height: 50px;
  width: 200px;
  font-size: larger;
  font-weight: 5px;
  font-style: bold;
  cursor: pointer;
  border-radius: 2px;
}

#landing-services {
  height:50vh;
  background-color: white;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row; 
}

.nav-service {
  color: rgb(4, 27, 27);
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 190px;
  margin-left: 60px;
  color: rgb(4, 27, 27);
}

.consultation, .fitness, .delivery {
  display: flex;
  flex-direction:column;
  align-items: center;
  color: rgb(4, 27, 27);
}

.dietitian, .exercise, .food-delivery {
    height:200px;
    width: 400px;
    margin-top: 30px;
}

.premium {
    margin-left: 30px;
    margin-top: 25px;
    color: rgb(4, 27, 27);
}

.best {
  margin-top: 25px;
  color: rgb(4, 27, 27);
}

.request {
   margin-top: 25px;
   margin-left: 10px ;
   color: rgb(4, 27, 27);
}

.footer {
  height: 10vh;
  margin-top: 25px;
  background-color: rgba(8, 8, 37, 0.863);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; 
  color: whitesmoke;
}

.footer-eatwell {
  display: flex;
  flex-direction:column;
  align-items: center;
}

.footer-contact {
  display: flex;
  flex-direction:column;
  align-items: center;
}

.mini-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 70px; */
}


.nav {
  display: flex;
  align-items: center;
  justify-content:space-between;
  background-color: whitesmoke;
  color: rgb(4, 27, 27);
  height: 90px;
  font-size: 20px;
  font-weight: 10px;
  font-style: bold;
}

.eat {
  margin-left: 20px;
}

ul {
  list-style: none;
 margin-right: 20px;
 
}

li {
 display: inline;
  margin-left: 20px;
  cursor: pointer;
  
}  

.background-box {
  background-color: greenyellow;
  color: black;
  height: 400px;
  width: 385px;
  margin-left: 50px;
  margin-top: 30px;
}


    


.nav-components {
  display: flex; 

}

.nav-button {
  background-color: rgb(4, 27, 27);
  color: whitesmoke;
  height: 30px;
  width: 70px;
  font-size: medium;
  font-weight: 5px;
  font-style: bold;
  cursor: pointer;
  border-radius: 5px;
}

.dashboard {
  background-color: red;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  height: 754px;
  width: 250px;
}

.navsidebar {
  background-color: #060b26;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
} 

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #060b26;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
} 

.nav-menu.active {
   left: 0;
   transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
 font-size: 18px;
   text-decoration: none;
  color: #f5f5f5;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
 margin-left: 16px;
}

.homes, .consultationwithdietitian, .fitnessexercises, .profile, .settings, .signout {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.ul {
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
  color: whitesmoke;
  margin: 20px;
 list-style: none;
  cursor: pointer;
}


/* 
.signout {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: blue;
  color: whitesmoke;
  height: 30px;
  width: 100px;
  margin: 10px;
} */


.mini-dashboard{
  background-color: green;
  display: flex;
  justify-content: flex-end;
  align-items:flex-end;
  flex-direction: column;
  height: 738px;
  width: 1100px;
  margin-left: 250px;
  /* margin-bottom: 150px; */
}


.sign {
  color: rgb(11, 37, 37);
}

.signin-page {
  /* height: 100vh; */
  background-image: url(image/woman-eating.png);
  background-repeat: no-repeat;
  background-position: left;
  } 

.signin-form {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-top: 200px;
   margin-left: 550px;
   background-color: whitesmoke;
  height: 320px;
  width: 420px; 
  margin-left: 400px;
  margin-top: 180px; 
  border-radius: 12px;
  box-shadow: 2px 2px 2px 2px rgb(11, 37, 37) ;
}


.signup-page {
  height: 100vh;
  background-image: url(image/food-still.jpg);
  background-repeat: no-repeat;
  background-size: cover;
} 

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:whitesmoke;
  height: 580px;
  width: 500px;
  margin-left: 450px; 
  margin-top: 50px;
  border-radius: 12px;
  box-shadow: 2px 2px 2px 2px rgb(11, 37, 37) ;
}

label {
  margin-right: 10px;
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 10px;
  font-size: large;
  font-weight: 15px;
  font-style: bold;

  
}

.form-control {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 20px;
  width: 250px;
  /* background-color: blue; */
  border-radius: 7px;
  font-size: small;
  font-weight: 10px;
  font-style: italic;
  border: transparent;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 255, 0.685);
}

::placeholder {
  border: none;
  color:  rgb(11, 37, 37);
}

.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  background-color: rgb(11, 37, 37);
  height: 35px;
  width: 260px;
  margin-top: 20px;
  font-size: large;
  font-weight: 10px;
  font-style: bold;
  cursor: pointer;
  border-radius: 6px;
}

.btn-danger {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(11, 37, 37) ;
  color: whitesmoke;
  height: 35px;
  width: 260px;
  margin-top: 20px;
  font-size: large;
  font-weight: 10px;
  font-style: bold;
  cursor: pointer;
  border-radius: 6px;
}

.already {
  display: flex;
  justify-content: center;
  align-items: center;
  color:rgb(11, 37, 37);
  font-size: large;
  font-weight: 10px;
  font-style: bold;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 25px;
} 

.link {
   display: flex;
   color:rgb(11, 37, 37);
   margin-top: 20px;
}

.create {
  color: rgb(11, 37, 37);
  margin-left: 40px;
  cursor: pointer;
  
}

.new {
   margin-left: 5px;
   cursor: pointer;
  }

input {
  outline: none;
  padding: 5px;

}


.home {
  color: whitesmoke;
}


.login {
  color: rgb(4, 27, 27);
}

.signup {
  color: rgb(11, 37, 37);
  
}   

.terms {
  color: rgb(11, 37, 37);
}

.forgot {
  color: rgb(11, 37, 37);
  margin: 8px;
}

/* #service {
  display: flex;
  flex-direction: column;
  align-items: center;
   background-color: whitesmoke;
   margin-top: 50px;
} */

/* .services {
  color: whitesmoke;
} */
